<Configuration status="info">
    <appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %M %m%n"/>
        </Console>
    </appenders>

    <loggers>
        <root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </root>
    </loggers>
</Configuration>